/* CUSTOM-PROPS */

:root{
  --font-family: "Kumbh Sans", "Arial", sans-serif;
  --text-color: #69707d;
  --text-color-dark: #1d2026;
  --accent-color: #ff7e1b;
  --accent-color-light: #ffeee2;
  --accent-color-hover: #ffab6a;
  --light-bg: #f6f8fd;
  --divider-color: #e4e9f2;
}



/* FONTS */

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Regular.woff2") format("woff2"),
      url("../fonts/KumbhSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
      url("../fonts/KumbhSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 *,
 *::before,
 *::after{
  box-sizing: inherit;
  }

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 26;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1148px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
}

.main-content{
  flex-grow: 1;
}


/* SITE-HEADER */

.site-header__container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e9f2;
}


.site-header__llogo {
  margin-right: 56px;
  flex-shrink: 0;
}

.logo {
  display: inline-block;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: 137px;
  height: 20px;
  object-fit: contain;
}


/* SITENAV */

.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item{
  position: relative;
  padding-top: 41px;
  padding-bottom: 45px;
}

.site-header__sitenav{
  margin-right: auto;
}

.sitenav__item:not(:last-child) {
  margin-right: 32px;

}

.sitennav__link{
  display: block;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  color: var(--text-color);
}

.sitennav__link:hover{
  color: var(--text-color-dark);
}

.sitennav__link:hover::after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.site-header__cart {
  /* margin-right: 46px; */
  margin-left: 24px;
}

.site-header__cart-link {
  position: relative;
  display: flex;
  color: var(--text-color);
  margin-right: 46px;
}


.site-header__cart-link:hover{
  color: var(--text-color-dark);
}

.site-header__cart-link:active{
    opacity: 0.6;
}

.site-header__cart-icon {
  width: 22px;
  height: 20px;
  object-fit: contain;
}

.site-header__cart-count{
  position: absolute;
  left: calc(100% - 13px);
  padding: 1px 6px;
  font-size: 10px;
  line-height: normal;
  font-weight: bold;
  border-radius: 7px;
  background-color: var(--accent-color);
  color: #fff;
}

.site-header__profile-wrapper {
}

.site-header__profile-link {
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  overflow: hidden;

}


.site-header__profile-link:active{
  opacity: 0.6;
}

.site-header__profile-link:hover{
  border-color: var(--accent-color);
}

.site-header__profile-avatar {
  width: 50px;
  height: 50px;
}


.site-header__cart-modal{
  display: none;
}

.site-header__cart-modal--open {
  display: block;
  position: absolute;
  right: -76px;
  top: 94px;
  width: 360px;
}

.shopping-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 256px;
  border-radius: 6px;
  background-color: #fff;
}

.shopping-cart--modal {
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}

.shopping-cart__header {
  padding: 24px 24px 27px;
  border-bottom: 1px solid var(--divider-color);
}

.shopping-cart__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-dark);
}

.shopping-cart__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.shopping-cart__empty{
  display: none;
}

.shopping-cart--empty .shopping-cart__empty{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.site-hedaer--cart__empty .site-header__cart-count{
  display: none;
}

.shopping-cart--empty .shopping-cart__content{
  display: none;
}


/* SHOPPING-CART-PRODUCTS */

.shopping-cart-products {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shopping-cart-products__item:not(:last-child) {
  margin-bottom: 16px;
}

.shopping-cart__products{
  margin-bottom: 24px;
}

.item-cart-shopping-products {
  display: flex;
  align-items: flex-start;
}

.item-cart-shopping-products__img {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 16px;
  object-fit: cover;
}

.item-cart-shopping-products__info {
  flex-grow: 1;
  margin-right: 18px;
}

.item-cart-shopping-products__name {
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-shopping-cart-products--remove-icon{
  display: block;
  width: 14px;
  height: 16px;
}

.item-cart-shopping-products__cost {
}

.item-cart-shopping-products__remove-btn {
  align-self: center;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #c3cad9;
  cursor: pointer;
  }

.item-cart-shopping-products__remove-btn:hover{
color: var(--text-color-dark);
}

.item-cart-shopping-products__remove-btn :active{
  opacity: 0.6  ;
}

.bold-cost{
color:  var(--text-color-dark);
}


/* BUTTON */

.button {
  display: inline-block;
  padding: 0;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: #fff;
  overflow: hidden ;
  text-align: center;
}

.button--block{
  display: flex;
  width: 100%;
}

.button--wide{
  min-width: 272px;
}

.button:hover{
  background-color: var(--accent-color-hover);
}

.button:active{
  transform: translateY(2px);
}

.button__inner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 22px 20px 18px;
}

.button__text {
}

.button__prepend{
  margin-right: 16px;
}



/* HERO */

.site-hero {
}

.site-hero__container {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 94px;
  margin-bottom: 132px;
}

.pictures {
  margin-right: auto;
}

.picture__prime {
  display: block;
  width: 445px;
  height: 445px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 32px;
}

.pictures__prime-button{
  position: relative;
  display: block;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}


.pictures__prime-button::after{
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.pictures__prime-button:hover::after{
  opacity: 1;
}

.pictures__prime-button:active{
  opacity: 0.6;
}

.pictures__item--active .pictures__prime-button::after{
  opacity: 1;
  border: 2px solid var(--accent-color);

}


.pictures__item{
  flex-shrink: 0;
}

.pictures__item:not(:last-child) {
  margin-right: 31px;
}

.pictures__img {
  display: block;
  object-fit: cover;
  width: 88px;
  height: 88px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.pictures__img:hover{
  border-color: var(--accent-color);
  opacity: 0.6;
  cursor: pointer;
}

.pictures__list {
  width: 100%;
  max-width: 445px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  scrollbar-color: var(--accent-color) var(--divider-color);
  padding-bottom: 10px;

}


.pictures__list::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

.pictures__list::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--accent-color);
  border-radius: 5px;
}

.pictures__list::-webkit-scrollbar-track { /* Background */
  background: var(--divider-color);
  border-radius: 5px;
}

.about-company {
  width: 445px;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-company__name {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.about-company__title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
  color: var(--text-color-dark);
}

.about-company__text {
  margin: 0;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--text-color);
}

.about-company__item-cost {
}

.discount {
  display: flex;
  margin-bottom: 10px;

}

.discount__cost {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: var(--text-color-dark);
}

.percentage {
  display: inline-block;
  padding: 7px 8px 4px 8px;
  margin: 0;
  background-color: var(--accent-color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  border-radius: 6px;
}

.drawn-cost {
  display: inline-block;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: var(--text-color);

}


.about-company-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.about-company-footer__amount {
  width: 157px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 10px;
  margin: 0;
  background-color: var(--light-bg);
  border-radius: 10px;
}
.minus-icon {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: var(--accent-color);
  border: 0;

}

.minus-icon:hover{
  opacity: 0.8;
  cursor: pointer;
}

.minus-icon:active{
  opacity: 0.6;
}

.sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color-dark);

}

.plus-icon {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: var(--accent-color);
  border: 0;
}

.plus-icon:hover{
  opacity: 0.8;
  cursor: pointer;
}

.plus-icon:active{
  opacity: 0.6;
}


.about-company-footer__button {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 22px 76px 17px 67px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background-color: var(--accent-color);
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  border-radius: 10px;
  }

.about-company-footer__button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.about-company-footer__button:active{
  opacity: 0.6;
}

.about-company-footer__basket{
  display: inline-block;
  margin-right: 15px;
  }
